<!-- ======= About Section ======= -->
<section class="about12">
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch">
      
              <div class="content">
                <h3 style="color: black; font-size: 22px !important;">Lavish World Hospitality</h3>
                <p style="color: black; font-size: 17px">Starting in the year 2016 from Pune city, it has
                  been
                  our endeavour to be the best in providing accommodation services like hotels, corporate
                  service apartments and guest houses for giant and small organizations. We are
                  specialists
                  in corporate stay solutions and passionate about meeting expectations of our esteemed
                  clients. Every single client; irrespective of the size, is served with same
                  professionalism
                  and a personal touch. We are providing accommodation
                  services at multiple locations in Pune. Our services are available in pan India and we
                  have
                  already initiated tie-ups for this expansion.
      
                </p>
      
      
              </div>
              <br>
              <div class="content">
                <h3 style="color: black; font-size: 22px !important;">A strong foundation:</h3>
                <p style="color: black; font-size: 17px"> Lavish
                    World Hospitality is a brain child of Mr. Pradip Satras. He has worked into the hospitality
                    industry for nearly a decade before deciding to serve the corporate sector with best
                    accommodation solutions. Being into the hospitality sector has given him that right insight
                    into the corporate sectors requirements, problems, preferences, etc. He has laid down
                    stringent standard operating procedures that
                    are followed judiciously for ensuring total satisfaction of our associates. We have a team
                    of 25 well-trained and experienced hospitality industry professionals at your service.

      
                </p>
      
      
              </div>
      
            </div>
            <div class="col-lg-6 align-items-stretch video-box"
              style='background-image: url("assets/image/hospilaty_services.jpg");'>
      
            </div>
      
      
      
          </div>

    </div>
  </section><!-- End About Section -->



     <!-- ======= Whu Us Section ======= -->
     <section id="why-us" class="why-us">
        <div class="container">
  
          <div class="section-title">
            <h2>Why choose <span>Us</span></h2>
            <p>There are more than one reasons to make us your partner in progress.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3">
              <div class="box">
              
                <h4>Professional culture</h4>
                <p>Founded by a Management professional with nearly a decade of work experience,
                    we are a young dynamic team that is well trained to serve the corporate
                    requirements.

                </p>
              </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
               
                  <h4>Responsive and responsible</h4>
                                        <p>We are sensitive to our client’s requirements and respond to the smallest of
                                            needs and queries without any delay. We responsibly cater to your
                                            expectations. Your satisfaction is our real reward.

                                        </p>
                </div>
              </div>
            <div class="col-lg-3 mt-4 mt-lg-0">
              <div class="box">
              
                <h4>Satisfied clients</h4>
                                        <p>Our clients range from giant multinationals to small-sized organizations. Our
                                            customer-centric approach has ensured that we remain the most preferred
                                            partner and a name that has a top-of-the-mind recall.

                                        </p>
              </div>
            </div>
  
            <div class="col-lg-3 mt-4 mt-lg-0">
              <div class="box">
         
                <h4>Trained team</h4>
                <p>Our team of 25 personnel has been trained by the best professionals from the
                    hospitality industry. We conduct training sessions regularly to keep our
                    team updated about the new developments in-house and in the business
                    that we are operating in.
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Whu Us Section -->
  



      <div class="y-uss-section">
        <h2 style="color: black;">Our Mission</h2>
        <div class="container card4">
            <div class="card card1">
                <div class="ico">
                    <i class="fa fa-bullseye" style="background-color: #04093A;"></i>
                </div>
                <h5 class="title">Our Vision</h5>
                <br>

                <p>We will keep growing across India and Internationally and carve a niche for ourselves by being
                    flexible without compromising on the quality of our services.
                </p>
            </div>
            <div class="card card1">
                <div class="ico">
                    <i class="fa fa-eye" style="background-color: #04093A;"></i>
                </div>
                <h5 class="title">Our Mission</h5>
                <br>

                <p>We will always be a quality-conscious organization that is dynamic in accommodating the changing
                    requirements of corporates.
                </p>
            </div>
            <div class="card card1">
                <div class="ico">
                    <i class="fa fa-star" style="background-color: #04093A;"></i>
                </div>
                <h5 class="title">What We Do..</h5>

                <p>We serve the corporate world with the best and a variety of accommodations like Hotels, Service
                    Apartments, Guesthouses. We also provide travel desk support and meals of all types.
                </p>
            </div>
        </div>
    </div>
  </section>