 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="container">
    <div class="row">
   <div class="col-md-4">
    <h4>About</h4>
    <p>Lavishworld is a leading corporate accommodation and Hospitality Service provider for clients in Pune. We Provide best rental apartment services with food and friendly staff at competitive rates. Our aim is fulfilled with customer satisfaction.</p>
   </div>
 
   <div class="col-md-4">
    <h4>Address</h4>
    <p>Chandraful Apartment,<br>
      Ashoka Nagar ,<br>
      Kharadi , Pune ,<br>
      Maharashtra 411014</p>
   </div>
   <div class="col-md-4">
    <h4>About</h4>
    <p>Lavishworld is a leading corporate accommodation and Hospitality Service provider for clients in Pune. We Provide best rental apartment services with food and friendly staff at competitive rates. Our aim is fulfilled with customer satisfaction.</p>
   </div>
   </div>
  </div>
</footer><!-- End Footer -->